@import "~materialize-css/dist/css/materialize.min.css";

input.white-input {
    border-bottom: 2px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
}

input.white-input + label {
    color: #fff!important;
}
input.white-input:focus + label {
    color: gray!important;
}

input.white-input:focus {
    border-bottom: 2px solid gray!important;
    box-shadow: 0 1px 0 0 gray!important;
}
